
.container {
    display: flex;
    width: 200px;
    border: 2px solid black;
    height: 400px;
    flex-wrap: wrap;
    align-content: space-around;
}

.first {
    background-color: green;
    width: 100px;
    height: 50px;
}

.second {
    background-color: blue;
    width: 100px;
    height: 50px;
}

.third {
    background-color: red;
    width: 100px;
    height: 50px;
}
.fourth {
    background-color: yellow;
    width: 100px;
    height: 50px;
}
.fifth {
    background-color: orange;
    width: 100px;
    height: 50px;
}